PUBLIC_API_BASE_URL=http://localhost:8000/api
API_BASE_URL=http://localhost:8000/api
NEXT_PUBLIC_CUSTOMER_API_BASE_URL=http://localhost:8001/api/v1
NEXT_PUBLIC_API_BASE_URL=http://localhost:8001/api/v1
STORE_CODE=SIDO-JATIM-ONLINE
NEXT_PUBLIC_STORE_CODE=SIDO-JATIM-ONLINE
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
